@import '../utils/variables';

.home {
  &_wrapper {
    padding: 0 10px 10px;
  }

  &_container {
    @include flex(row, center, space-between);
    width: 100%;

    &>div {
      width: calc(50% - 5px);
      background-color: $white-0;
    }
  }
}